html {
  direction: rtl !important;
}

.item {
  position: relative;
  width: 15rem;
  height: 20rem;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  cursor: pointer;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}

.item h6 {
  position: relative;
  margin-top: 210px;
  text-align: center;
}

.card {
  border-radius: 10px;
}

input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: gray;
}
