html {
  direction: rtl;
}
.header {
  background-color: #f8f9fa;
}
ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none !important;
}

.bi-cart {
  position: relative;
  cursor: pointer;
}

.tedad {
  width: 17px;
  height: 17px;
  border: 1px solid #dc143c;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  bottom: 20px;
  background-color: #dc143c;
}

.tedad p {
  font-size: 11px;
  color: white;
}

.bi-list {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .items {
    display: none;
  }

  .bi-list {
    display: block;
  }
}

.sidebar {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #f8f9fa;
  z-index: 1;
}

.bi-x-lg {
  color: #dc143c !important;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.sidebar {
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

.active {
  border-bottom: 2px solid black;
}

.bi-brightness-high {
  cursor: pointer;
}

.bi-moon {
  cursor: pointer;
}
